<div class="container">
  <img src="assets\logo-medicus-azul.png" alt="" />
  <div class="user-text">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ loggedInUser }}
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center"><button class="btn btn-light boton-salir" (click)="logOut()">Salir</button></li>
        </ul>
      </div>
  </div>
</div>
