<app-header></app-header>

<!-- <div *ngIf="validateAccount()"></div> -->

<div class="container">
  <!-- Sección principal de pacientes -->
  <div *ngIf="!showMedicalHistory && !showAppointments && !showAllAppointments">
    <div class="header">
      <div class="filtros-container" [formGroup]="filtrosForm">
        <div class="input-group w-25">
          <input
            formControlName="dniBusqueda"
            (keyup.enter)="findPatient()"
            type="text"
            class="form-control text-center"
            placeholder="Buscar por DNI"
          />
          <span (click)="findPatient()" class="input-group-text">
            <span class="material-icons">search</span>
          </span>
          <div
            class="invalid-feedback d-block"
            *ngIf="filtrosForm.get('dniBusqueda')?.invalid && (filtrosForm.get('dniBusqueda')?.dirty || filtrosForm.get('dniBusqueda')?.touched)"
          >
            <span>DNI inválido (7-8 dígitos)</span>
          </div>
        </div>

        <div class="input-group w-25">
          <input
              type="text"
              formControlName="lastnameSearch"
              class="form-control text-center"
              placeholder="Buscar por Apellido"
          />
          <span (click)="findPatientByLastName()" class="input-group-text">
              <span class="material-icons">search</span>
          </span>
        </div>

      
      <select formControlName="filtroEstado" class="form-select form-select-sm w-25 text-center">
        <option value="" disabled selected>Estado Paciente</option>
        <option value="TODOS">TODOS</option>
        <option value="ACTIVO">ACTIVOS</option>
        <option value="INACTIVO">INACTIVOS</option>
      </select>
      
      <div class="button-group">
        <button class="btn btn-light text-center" (click)="viewAllAppointments()">
          Ver Todos los Turnos
        </button>
      </div>

        <div class="button-group">
          <button class="btn btn-light text-center" (click)="addPatient()">
            <span class="material-icons">person_add</span> Agregar Paciente
          </button>
        </div>
      </div>
      
      <div *ngIf="filetredPatients && filetredPatients.length > 0; else mensajeNoEncontrado">
        <table class="table mt-3">
          <thead class="table-dark text-center">
            <tr>
              <th>DNI</th>
              <th>NOMBRE</th>
              <th>APELLIDO</th>
              <th>EMAIL</th>
              <th>TELÉFONO</th>
              <th>FECHA NACIMIENTO</th>
              <th>DIRECCIÓN</th>
              <th>HISTORIAL</th>
              <th>TURNOS</th>
              <th>BAJA/ALTA</th>
              <th>MODIFICAR</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let patient of filetredPatients">
              <td>{{ patient.dni }}</td>
              <td>{{ patient.name }}</td>
              <td>{{ patient.lastname }}</td>
              <td>
                <span *ngIf="editingDni !== patient.dni">{{ patient.email }}</span>
                <input *ngIf="editingDni === patient.dni" 
                      type="email" 
                      [(ngModel)]="editedPatient!.email" 
                      class="form-control"
                      required>
              </td>
              
              <td>
                <span *ngIf="editingDni !== patient.dni">{{ patient.phoneNumber }}</span>
                <input *ngIf="editingDni === patient.dni" 
                      type="tel" 
                      [(ngModel)]="editedPatient!.phoneNumber" 
                      class="form-control"
                      pattern="[+]?[0-9]+"
                      required>
              </td>
              <td>{{ patient.birthdate | date:'dd/MM/yyyy' }}</td>
              
              <td>
                <span *ngIf="editingDni !== patient.dni">{{ patient.address }}</span>
                <input *ngIf="editingDni === patient.dni" 
                      [(ngModel)]="editedPatient!.address" 
                      class="form-control"
                      required>
              </td>
                    
              <td>
                <button class="btn btn-info btn-sm" (click)="historialDetail(patient.dni)">
                  Ver más
                </button>
              </td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="medicalAppoinmentDetail(patient)">
                  <span class="material-icons">calendar_today</span>
                </button>
              </td>
              
              <td>
                <div class="icons-state">
                  <button class="btn btn-danger m-2" (click)="updateStatePacient(patient.dni, false)" [disabled]="patient.active === false">
                    <span class="material-icons">arrow_downward</span>
                  </button>
                <button class="btn btn-primary m-2" (click)="updateStatePacient(patient.dni, true)" [disabled]="patient.active === true">
                  <span class="material-icons">arrow_upward</span>
                </button>
                </div>
              </td>
              
              
              <td>
                <div *ngIf="editingDni !== patient.dni">
                  <button class="btn btn-primary m-1" (click)="modifyPatient(patient)">
                    <span class="material-icons">edit</span>
                  </button>
                </div>
                
                <div *ngIf="editingDni === patient.dni" class="btn-group">
                  <button class="btn btn-success m-1" (click)="saveChanges()" 
                        [disabled]="!editedPatient || !isValidPatient()">
                        <span class="material-icons">save</span>
                  </button>
                  <button class="btn btn-secondary m-1" (click)="salirModoEdicion()">
                    <span class="material-icons">cancel</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <ng-template #mensajeNoEncontrado>
        <div class="invalid-feedback d-block m-4 text-center">
          No se encontraron pacientes con los filtros aplicados
        </div>
      </ng-template>
    </div>
    <div class="d-flex">
      <button *ngIf="buttonGoBackValidator" (click)='returnToAdminView()' class="btn btn-dark ms-auto">Volver Admin</button>
    </div>  
  </div>


  <!-- Sección de Historial Médico -->
  <div *ngIf="showMedicalHistory">
    <h3>Historial Médico del Paciente {{ selectedPatient?.name }}  {{ selectedPatient?.lastname }}</h3>
    <table class="table mt-3">
      <thead class="table-dark text-center">
        <tr>
          <th>FECHA</th>
          <th>HORA</th>
          <th>DESCRIPCIÓN</th>
          <th>PACIENTE</th>
          <th>ALTURA</th>
          <th>PESO</th>
          <th>GRUPO SANIGUINEO</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let record of medicalHistory">
          <td>{{ record.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ getFormattedTime(record.time) }}</td>
          <td>{{ record.description }}</td>
          <td>{{ record.patient.name }}  {{ record.patient.lastname }}</td>
          <td>{{ record.height }}</td>
          <td>{{ record.weight }}</td>
          <td>{{ record.bloodGroup }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-secondary mt-3" (click)="goBack()">Volver</button>
  </div>

  <!-- Sección de Turnos -->
  <div *ngIf="showAppointments || showAllAppointments">
    <ng-template #emptyAppointmentList>
      <div class="invalid-feedback d-block m-4 text-center">
        {{ showAllAppointments ? 'No existen turnos registrados en el sistema' : 'No existen turnos registrados de este paciente' }}
      </div>
    </ng-template>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 *ngIf="showAppointments" class="userName">Paciente: {{ selectedPatient?.name }} {{ selectedPatient?.lastname }}</h4>
      <div class="d-flex align-items-center gap-2">
        <button  *ngIf="showAllAppointments"class="btn btn-secondary  justify-content-between  mb-2" (click)="goBack()">Volver</button>
        <select class="form-select" [(ngModel)]="selectedSpeciality" (change)="applyFilters()">
          <option [ngValue]="null" selected>Todas las especialidades</option>
          <option *ngFor="let spec of specialities" [value]="spec.name">{{ spec.name }}</option>
        </select>
        
        <select class="form-select" [(ngModel)]="selectedProfessional" (change)="applyFilters()">
          <option [ngValue]="null" selected>Todos los profesionales</option>
          <option *ngFor="let prof of professionals" [ngValue]="prof">{{ prof.name }} {{ prof.lastname }}</option>
        </select>
        
        <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
          <input type="date" class="form-control text-center uniform-input" (change)="onDateChange($event)" />
          <button class="btn btn-primary ms-2" (click)="applyFilters()">
            Buscar
          </button>
        </div>
        
        <select class="form-select" 
          [(ngModel)]="selectedState"
          (change)="onStateFilterChange()">
          <option [ngValue]="null"  selected >Todos los estados</option>
          <option *ngFor="let state of appointmentStates" [value]="state">
            {{ getStateDisplayName(state) }}
          </option>
        </select>
        <div [hidden]="buttonAddAppointment"> <!-- Un admin no puede cargar turnos porque el turno esta configurado para cargar una entidad secretaria -->
        <button *ngIf="showAppointments" class="btn btn-light text-center" (click)="addMedicalAppoinment()">
          <span class="material-icons">event_available</span> Agregar Turno
        </button>
      </div>
      </div>
    </div>
  
    <div *ngIf="medicalAppoinmentList.length > 0; else emptyAppointmentList ">
    <table class="table mt-3">
      <thead class="table-dark text-center">
        <tr>
          <th>FECHA</th>
          <th (click)="sortData('time')">HORA 
            <span *ngIf="sortColumn === 'time'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </th>
          <th>PROFESIONAL</th>
          <th (click)="sortData('specialityName')">ESPECIALIDAD 
            <span *ngIf="sortColumn === 'specialityName'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </th>
          <th>ESTADO</th>
          <th>CANCELAR</th>
          <th>MODIFICAR</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let appointment of medicalAppoinmentList">
          <td>{{ appointment.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.professionalName }} {{ appointment.professionalLastname }}</td>
          <td>{{ appointment.specialityName }}</td>
          <td>{{ appointment.state }}</td>
          <td>
            <button [disabled]="appointment.state === 'CANCELADO'" (click)="cancelAppointment(appointment.medicalAppointmentId,appointment.patientDni)" class="btn btn-danger m-2">
              <span class="material-icons">cancel</span>
            </button>
          </td>
          <td>
            <button [disabled]="appointment.state === 'CANCELADO'" 
                    (click)="openRescheduleModal(appointment)" 
                    class="btn btn-primary m-1">
              <span class="material-icons">edit</span>
            </button>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
    
    <button class="btn btn-secondary mt-3" (click)="goBack()">Volver</button>
    
    <ng-template #emptyAppointmentList>
      <div class="invalid-feedback d-block m-4 text-center">
        No existen turnos registrados de este paciente
      </div>
    </ng-template>
  </div>

  <!-- Modales -->
  <app-add-patient 
    *ngIf="showAddModal"
    (patientAdded)="onPatientAdded()"
    (closed)="closeAddModal()">
  </app-add-patient>

  <app-add-appoinment
    *ngIf="showAddAppointmentModal"
    [patientDni]="selectedPatient?.dni || ''"
    (appointmentCreated)="createMedicalAppointment($event)"
    (closed)="showAddAppointmentModal = false">
  </app-add-appoinment>

  <app-reschedule-appointment 
    *ngIf="showRescheduleModal"
    [appointment]="selectedAppointment"
    [availableAppointments]="availableAppointments"
    (rescheduleConfirmed)="rescheduleAppointment($event)"
    (closed)="showRescheduleModal = false">
  </app-reschedule-appointment>


  <!-- Mensajes de error -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>