<app-header></app-header>

<div class="container">
  <div class="header">
    <div class="buttons">
      <div class="input-group w-25" >
        <input
          [formControl]="dniBuscado"
          (keyup.enter)="findUser()"
          type="text"
          class="form-control"
          placeholder="Usuario Dni"
        />
        <span (click)="findUser()" class="input-group-text">
          <span class="material-icons">search</span>
        </span>
        <div
          class="invalid-feedback d-block"
          *ngIf="submitted && (dniBuscado.invalid && dniBuscado.value)"
        >
          <span>El dni ingresado es invalido</span>
        </div>
      </div>

      <select (change)="findByType()" [(ngModel)]="selectedType" class="form-select form-select-sm w-25">
        <option value="" disabled selected>Tipo Usuario</option>
        <option value="TODOS">TODOS</option>
        <option value="ADMIN">ADMIN</option>
        <option value="SECRETARY">SECRETARY</option>
        <option value="PROFESSIONAL">PROFESSIONAL</option>
      </select>

      <select class="ml-1" (change)="findByState()" [disabled]="!selectedType || (selectedType === 'TODOS' || selectedType === 'ADMIN')" [(ngModel)]="selectedState" class="form-select form-select-sm w-25">
        <option value="" disabled selected>Estado Cuenta</option>
        <option value="ACTIVE">ACTIVOS</option>
        <option value="INACTIVE">INACTIVOS</option>
      </select>

    
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Acciones
        </button>
        <ul class="dropdown-menu">
          <h5 class="dropdown-header">Agregar</h5>
          <li><a class="dropdown-item" (click)="openDialogAddProfessional('200ms','200ms')">Usuario</a></li>
          <li><a class="dropdown-item" (click)="openDialogAddSpeciality('200ms','200ms')">Especialidad</a></li>

          <li><hr class="dropdown-divider"></li>
          <h5 class="dropdown-header">Otras acciones</h5>
          <li><a class="dropdown-item" (click)="openDialogViewSpecialities('200ms','200ms')">Ver Especialidades</a></li>
        </ul>
      </div>
      
    </div>
    <div *ngIf="users && users.length > 0; else message">
      <table class="table mt-3">
        <thead class="table-dark">
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">USERNAME</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">ROL</th>
            <th scope="col">ESTADO</th>
            <th scope="col">BAJA / ALTA</th>
            <th scope="col">MODIFICAR</th>
            <th scope="col">MODIFICAR CONTRASEÑA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>
              <span>{{ user.dni }}</span>
             <!--  <input *ngIf="isEditing[i]" type="text" [(ngModel)]="user.dni" class="form-control"> -->
            </td>
            <td>
              <span *ngIf="!isEditing[i]">{{ user.username }}</span>
              <input *ngIf="isEditing[i]" type="text" [(ngModel)]="user.username" class="form-control">
            </td>
            <td>
              <span *ngIf="!isEditing[i]">{{ user.name }}</span>
              <input *ngIf="isEditing[i]" type="text" [(ngModel)]="user.name" class="form-control">
            </td>
            <td>
              <span *ngIf="!isEditing[i]">{{ user.lastname }}</span>
              <input *ngIf="isEditing[i]" type="text" [(ngModel)]="user.lastname" class="form-control">
            </td>
            <td>
              <span *ngIf="!isEditing[i]">{{ user.email }}</span>
              <input *ngIf="isEditing[i]" type="email" [(ngModel)]="user.email" class="form-control">
            </td>
            <td>
              <span *ngIf="!isEditing[i]">{{ user.phoneNumber }}</span>
              <input *ngIf="isEditing[i]" type="text" [(ngModel)]="user.phoneNumber" class="form-control">
            </td>
            <td>
              <span *ngIf="!isEditing[i]">{{ user.address }}</span>
              <input *ngIf="isEditing[i]" type="text" [(ngModel)]="user.address" class="form-control">
            </td>
            <td>
              <span>{{ user.role }}</span>
            </td>
            <td>
              <span>{{ user.accountState }}</span>
            </td>
            <td>
              <div class="icons-state">
              <button [disabled]="user.role === 'ADMIN' || user.accountState === 'INACTIVE'" (click)="deleteUser(user.dni, user.role)" class="btn btn-danger m-2">
                <span class="material-icons">arrow_downward</span>
              </button>
              <button [disabled]="user.role === 'ADMIN' || user.accountState === 'ACTIVE'" (click)="reactivateUser(user.dni)" class="btn btn-primary m-2">
                <span class="material-icons">arrow_upward</span>
              </button>
             </div>
            </td>
            <td>
              <button *ngIf="!isEditing[i]" (click)="toggleEdit(i,user)" [disabled]="user.role === 'ADMIN'" class="btn btn-primary m-2">
                <span class="material-icons">edit</span>
              </button>
              <div class="icons-update">
              <button *ngIf="isEditing[i]" (click)="toggleSave(i,user)" [disabled]="user.role === 'ADMIN'" class="btn btn-success m-2">
                <span class="material-icons">save</span>
              </button>
              <button *ngIf="isEditing[i]" (click)="toggleCancel(i)" [disabled]="user.role === 'ADMIN'" class="btn btn-secondary m-2">
                <span class="material-icons">cancel</span>
              </button>
             </div>
            </td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="openDialog('200ms', '200ms', user.username)">Cambiar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #message>
    <div class="invalid-feedback d-block m-4">
      No hay usuario/s que coincidan con la busqueda
    </div>
  </ng-template>

  <div class="buttons">
    <button class="btn btn-light" (click)="navigateToSecretary()">Funciones de secretaria</button>
    <button class="btn btn-light" (click)="navigateToProfessional()">Funciones de profesional</button>
  </div>
</div>
